/*--- GUIDELINES --- 
1. Use CSS styling
2. Use class or id specific to style elements related the visualization only
3. Avoid using styling that alters this webapp (Example: html, body, h1, a, etc.). 
   Documents may get flagged if doing so ---*/

#canvas {
}

#canvas-scatter {
  width: 600px;
  height: 600px;
  float: left;
}

#canvas-surface {
  width: 600px;
  height: 600px;
  float: right;
}

#canvas-bar {
  width: 600px;
  height: 600px;
  float: left;
}

#canvas-force {
  width: 600px;
  height: 600px;
  float: right;
}

body {
  margin: 0px;
}

#tooltip-container {
  position: absolute;
  background-color: #404040;
  color: #fff;
  opacity: 0.9;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid;
  display: none;
  font-family: "Arial";
  font-size: 12px;
}

.tooltip_key {
  font-weight: bold;
}